* {
    margin: 0;
    padding: 0;
}
/*Cabeçalho*/
header {
    background-color: #132235;
    height: 90px;
    display: flex;
    justify-content: center;
}
/*Imagem do cabeçalho*/
header img {
    width: 300px;
}

/*moradiacompartilhada*/
#imagemdemoradiac {
width: 300px;
display: grid;
 

}   
/*texto moradia compartilhada*/
.secao-3 {
    background-color: #F2F2F2;
height:200px;

}
/*imagem moradia compatilhada*/
#imc {

display: flex;
align-items: center;
justify-content: center;
}


/*imagem flat*/
#iflat {

    display: flex;
    align-items: center;
    justify-content: center;
    }

/*Rodapé*/
.container{
    background-color: #F2F2F2;
    height: 300px;
    display: grid;
    position: relative;
    bottom: 0;
    width: 100%;
}
.text_contact {
    text-align: center;
    display: flex;
    align-items: center;
    margin-right: 1%;
    padding: 0 10px;
}
/*Formulario*/
.formulario {
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 1%;
}
form input, .caixa_texto{
    width: 80%;
 }
/*Imagem do mapa*/
.formulario img{
    width: 20%;
    padding: 0 5% 0 ;
}
/*Configuração das redes sociais*/
.container #redes{
    display: flex;
    padding: 0 10px;
}
#redes img {
    width: 27px;
    margin: 4px;
    display: flex;
}
#redes {
    background-color: #132235;
    color: #6CD9D2;
}
/*Quando a tela ficar do nas dimensões do Iphone 6/7/8 terá essas config */
@media only screen and (max-width: 375px) {
    .formulario{
        margin: 5px;
        justify-content: center;
        flex-wrap: wrap;
    }
    .formulario img {
      width: 50%;
      margin: 7px;
    }
    .container{
        background-color: #F2F2F2;
        height: 500px;
        display: grid;
        bottom: 0;
        justify-items: center;
        align-items: center;
    }
    #redes {
        background-color: #132235;
        color: #6CD9D2;
        width: 94%;
        height: 50px;
    }

  }